<ion-view title="Device Page" id="page2">
    <ion-content style="background: url(img/bg1.jpg) no-repeat center;background-size:cover;" padding="true" class="has-header">
        
            
            <!--
            <div class="padding text-center">
            <button id="devicePage-button8" class=" button button-outline button-energized small-button">Connect</button>
                
                
                </div>
            
            <div class="spacer" style="width: 300px; height: 41px;"></div>
            
            <div class = "row">
                   
                <div class = "col col-50 center"><button id="devicePage-button9" class=" button button-energized"><b>7</b></button></div>
                
                <div class = "col col-50 center">
                   <button id="devicePage-button9" class="button button-energized"><b>10 <sup>o</sup>C</b></button>
                </div>  
                </div>-->
            <!--<div class="padding text-center">
                <button id="devicePage-button8" ng-click="scan()" class=" button button-outline button-energized small-button">Scan</button>
            </div>-->
            
            
            <div class="spacer" style="width: 300px; height: 41px;"></div>
            
            <div class="card">
               <div class="item item-divider item-energized">
                  Paired Devices
               </div>

               <div class="list">
                   <a class="item {{isEnabled}}" ng-repeat="device in allDevices" ng-click="connect(device.id,device.name)">{{device.name}}-{{device.id}}</a>
               </div>

            </div>
        
            <button id="devicePage-button8" ng-click="scan()" class=" button button-outline button-block button-energized ">Discover Unpaired</button>
        
            <div class="card">
               <div class="item item-divider item-energized">
                  Unpaired Devices
               </div>

                <div class="list">
                   <a class="item {{isEnabled}}" ng-repeat="device1 in allUnpairedDevices" ng-click="connect(device1.id,device1.name)">{{device1.name}}</a>
               </div>

            </div>
        <!--
            <div class = "row">
            
                <div class = "col-50 center"><p class="energized">pH</p></div>
                   
            
                <div class = "col-50 center"><p class="energized">Temp</p></div>
                   
            
                   
                </div>
            -->
            <div class="spacer" style="width: 300px; height: 41px;"></div>
        
        <!--<div class="center"><button ui-sref="homePage" id="devicePage-button9" class=" button button-outline button-energized">Home</button></div>-->
        
    </ion-content>
</ion-view>