<ion-view title="About Us" id="page4">
    <ion-content padding="true" style="background: url(img/bg1.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="width: 300px; height: 23px;"></div>
        <div class="center">
         <p class="energized">All the About Us Text</p>
        <div class="spacer" style="width: 300px; height: 23px;"></div>
        <button ui-sref="homePage" id="page-button6" class=" button button-outline button-energized ">Home</button>
        </div>
    </ion-content>
</ion-view>